table, tr, th {
    width: 100%;
    border-spacing: 0;
    margin-top: 2rem;
}

table thead{
    font-weight: 700;
}

.delete-message {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.delete-message>div {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: right;
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.actions > button {
    width: 200px;
}

.actions > input{
    padding: 1rem;
}
