form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem 2rem 2rem;
}

form input {
    padding: 1rem;
}

form button {
    background: #179aa7;
    color: #fff;
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}