body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}

dialog {
  min-width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.457);
}

form input {
  padding: 1rem;
}

button {
  background: #179aa7;
  color: #fff;
  border: none;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}